asgi-redis==0.10.0
channels==0.17.2
daphne==0.15.0
Django==1.10.2
django-audiofield==0.8.3
django-extensions==1.7.4
django-filter==0.15.2
django-guardian==1.4.6
django-rest-swagger==2.0.6
djangorestframework==3.4.7
drf-ujson==1.2
gunicorn==19.6.0
Pillow==3.4.1
psycopg2==2.6.2
requests==2.11.1
six==1.10.0
git+https://github.com/khasanovbi/rest_channels.git
