asgi-redis==0.10.0
channels==0.14.1
daphne==0.12.1
Django==1.9.7
django-audiofield==0.8.2
django-extensions==1.6.7
django-filter==0.13.0
django-guardian==1.4.4
django-rest-swagger==0.3.7
djangorestframework==3.3.3
drf-ujson==1.2
gunicorn==19.6.0
redis==2.10.5
requests==2.10.0
tox==2.3.1
git+https://github.com/khasanovbi/rest_channels.git
