asgi-redis==0.10.0
channels==1.0.3
daphne==1.0.3
Django==1.10.5
django-audiofield==0.8.3
django-extensions==1.7.7
django-filter==1.0.1
django-guardian==1.4.6
django-rest-swagger==2.1.1
djangorestframework==3.5.4
drf-ujson==1.2
gunicorn==19.6.0
Pillow==4.0.0
psycopg2==2.6.2
requests==2.13.0
rest_channels==0.1.0
six==1.10.0
